/* General */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* UTILITIES */

header {
  background-color: #101a84;
}

/* logo */

#logo {
  margin-left: 200px;
  vertical-align: middle;
}

/* Nav-center */

.nav-center {
  display: inline-block;
  padding-left: 50px;
}

.nav-center ul li {
  display: inline-block;
  list-style: none;
}

.nav-center ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  text-transform: uppercase;
  color: white;
}

/* Nav-right */

.nav-right {
  display: inline-block;
  padding-left: 50px;
  float: right;
  margin-right: 150px;
  vertical-align: middle;
}

.nav-right ul li {
  display: inline-block;
  list-style: none;
  vertical-align: middle;
}

.nav-right ul li a {
  display: inline-block;
  text-decoration: none;
  margin-left: 30px;
  padding: 15px;
  text-transform: uppercase;
  color: white;
}

/* Button */

#login {
  text-align: center;
  height: 35px;
  width: 100px;
  color: white;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  text-align: center;
  padding: 7px;
  border-radius: 5px;
}

#struttura {
  background-color: yellowgreen;
  text-align: center;
  height: 35px;
  width: 200px;
  color: white;
  border-style: solid;
  border-color: #101a84;
  border-width: 1px;
  text-align: center;
  padding: 7px;
  border-radius: 5px;
}
