/* General */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* UTILITIES */

header {
  background-color: #101a84;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* logo */

#logo {
  margin-left: 200px;
  vertical-align: middle;
}

/* Nav-center */

.nav-center {
  display: inline-block;
  padding-left: 50px;
}

.nav-center ul li {
  display: inline-block;
  list-style: none;
}

.nav-center ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  text-transform: uppercase;
  color: white;
}

/* Nav-right */

.nav-right {
  display: inline-block;
  padding-left: 50px;
  margin-left: 130px;
  vertical-align: middle;
}

.nav-right ul li {
  display: inline-block;
  list-style: none;
  vertical-align: middle;
}

.nav-right ul li a {
  display: inline-block;
  text-decoration: none;
  margin-left: 30px;
  padding: 15px;
  text-transform: uppercase;
  color: white;
}

/* Button */

#login {
  text-align: center;
  height: 35px;
  width: 100px;
  color: white;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  text-align: center;
  padding: 7px;
  border-radius: 5px;
}

#struttura {
  background-color: yellowgreen;
  text-align: center;
  height: 35px;
  width: 200px;
  color: white;
  border-style: solid;
  border-color: #101a84;
  border-width: 1px;
  text-align: center;
  padding: 7px;
  border-radius: 5px;
}

/* jUMBOTRON */

.jumbotron {
  height: 400px;
  background-color: #101a84;
  overflow: hidden;
}

.jumbotron img {
  width: 45%;
  position: relative;
  bottom: 92px;
  left: 1150px;
}

#slogan {
  position: relative;
  left: 200px;
  top: 120px;
  color: white;
}

#slogan p {
  background-color: yellowgreen;
  text-align: center;
  height: 35px;
  width: 200px;
  color: white;
  border-style: solid;
  border-color: #101a84;
  border-width: 1px;
  text-align: center;
  padding: 7px;
  border-radius: 5px;
  text-transform: uppercase;
  margin-top: 25px;
}

.jumbotron-bottom {
  height: 100px;
  background-color: #e6e6e6;
  text-align: center;
  line-height: 30px;
}

#testo {
  position: relative;
  top: 25px;
}

/* section 1 */
.section-1 {
  padding-bottom: 500px;
}

.piano-formativo {
  float: left;
  width: 350px;
  text-align: center;
  position: relative;
  top: 30px;
  left: 400px;
}

.piano-formativo h2 {
  color: yellowgreen;
  margin-top: 20px;
}

.piano-formativo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.riga {
  width: 145px;
  position: relative;
  left: 90px;
  margin-top: 40px;
  padding-bottom: 40px;
}

.tutor {
  float: left;
  width: 350px;
  text-align: center;
  position: relative;
  top: 30px;
  left: 480px;
}

.tutor h2 {
  color: yellowgreen;
  margin-top: 20px;
}

.tutor img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.monitora {
  float: left;
  width: 350px;
  text-align: center;
  position: relative;
  top: 30px;
  left: 550px;
}

.monitora h2 {
  color: yellowgreen;
  margin-top: 20px;
}

.monitora img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.section-2 img {
  float: left;
  width: 25%;
  position: relative;
  left: 400px;
  top: 50px;
  float: left;
}

.piano-personalizzato {
  width: 430px;
  float: left;
  position: relative;
  left: 550px;
  top: 50px;
}

.piano-personalizzato h2 {
  padding-bottom: 20px;
}

.piano-personalizzato p {
  padding-bottom: 20px;
}

footer {
  background-color: #cccccc;
  height: 100px;
  width: 100%;
  position: absolute;
  top: 1600px;
}

footer h2 {
  float: left;
  margin-left: 300px;
  margin-top: 40px;
}

.seleziona {
  float: left;
  width: 500px;
  margin-top: 47px;
  margin-left: 480px;
}

.seleziona p {
  float: left;
  margin-left: 100px;
}
#selection {
  margin-left: 50px;
  background-color: #cccccc;
  border-top: black;
  border-left: none;
  border-right: none;
  padding-right: 50px;
}
